nav {
    background: #c0d434;
    position: relative;
    margin-bottom: 5px;
    z-index: 1000;
    
}

nav ul {
    padding-top: 0px;
    padding-left: 0px;
    margin: 0px;
    list-style: none;
    height: 40px;
    z-index: 1000;
}

nav ul li {
    /* display: inline-block; */
    position: relative;
    border-right: solid #fff 1px;
    float: left;
    margin: 0px;
    width: 140px;
    text-align: center;
    z-index: 1000;
    font-family: 'Courier New', Courier, monospace;
}

nav ul li a {
    display: block;
    text-decoration: none;
    font-size: 16px;
    color: rgb(8, 8, 8);
    padding: 0 10px;
    line-height: 40px;
    display: block;
    z-index: 1000;
}

nav ul li a:hover {
    color: red;
    background:  #c0d434;
    font-weight: bolder;
    z-index: 1000;
}

nav ul>li:hover>ul {
    display: block;
    z-index: 1000;
}

/* Menu dá»c */
ul.vmenu {
    margin: 0;
    padding: 0;
    width: 250px;
    list-style: none;
    position: absolute;
    display: none;
    background-color: yellow;
    z-index: 1000;
}

ul.vmenu li {
    margin-top: 0px;
    border-bottom: solid 1px #fff;
    position: relative;
    width: 250px;
    z-index: 1000;
}

ul.vmenu li a {
    display: block;
    line-height: 40px;
    border-bottom: 1px dotted orangered;
    text-decoration: none;
    font-variant: small-caps;
    color: yellow;
    padding-left: 15px;
    background-color: rgb(91, 138, 138);
    z-index: 1000;
}

ul.vmenu li a:hover {
    background-color: rgb(175, 210, 175);
    font-weight: bolder;
    color: #fff;
    z-index: 1000;
}

ul.vmenu li>ul {
    position: absolute;
    margin-left: 245px;
    width: 300px;
    color: orangered;
    top: 0px;
    visibility: hidden;
    list-style: none;
    padding: 0;
    z-index: 1000;
}

ul.vmenu li>ul li {
    border-bottom: solid 1px #fff;
    z-index: 1000;
}

ul.vmenu li:hover>ul {
    visibility: visible;
    z-index: 1000;
}

.chao {
    height: 40px;
    position: absolute;
    right: 25px;
    top: 10px;
    color: #020101;
    z-index: 1000;
}

nav .tim {
    text-align: center;
    width: 75px;
    height: 40px;
    color: #FFF;
    background: #3CF;
    border: 1px solid #FFF;
    margin-right: 15px;
    line-height: 40px;
}

nav .tim:hover {
    color: #090909;
    background: #000;
}
