* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    padding-top: 50px;
    padding-bottom: 100px;


}

/* Sidebar */
.sidebar {
    width: 250px;
    padding-right: 20px;
}

.sidebar h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #8fa300;
}

.sidebar ul {
    list-style: none;
    margin-top: 30px;
}

.sidebar li {
    font-size: 18px;
    margin-bottom: 10px;
    cursor: pointer;
}

.sidebar li:hover {
    color: #8fa300;
}

/* Product List */
.product-list {
    flex: 1;
}

.product-list h1 {
    font-size: 32px;
    margin-bottom: 20px;
}

.products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.product {
    text-align: center;
    border: 1px solid #eee;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.product:hover {
    transform: translateY(-5px);
}

.product img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.product h3 {
    font-size: 18px;
    margin: 10px 0;
}

.product .price {
    color: #8fa300;
    font-size: 16px;
    font-weight: bold;
}
hr{
    height: 5px;
    background-color:  #8fa300;
    border: none;
}
.sidebar li a {
    text-decoration: none;
    color: #333;
    transition: color 0.3s ease, font-weight 0.3s ease;
}

.sidebar li a:hover {
    color: #8fa300;
    font-weight: bold;
}
a{
    text-decoration: none;
    color: black;
}
